/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  background-image: image-url("live.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  // background-size: cover;
}


/*.link {*/
/*  color :white;*/
/*}*/
/*.container {*/
/*  background-image: url('/assets/live.jpg');*/
/*}*/
/*#main-image {*/
  /*position:absolute;*/
/*  top:100px;*/
/*  left:100px;*/
/*  z-index: 2;*/
/*}*/
/*.shadow-sm {*/
/*  position: relative;*/
/*  height: 100vh;*/
/*  background-image: image-url('/assets/images/live.jpg');*/
/*  background-size: 25% auto;*/
/*}*/

/*.blog {*/
/*  background-color: white;*/
/*}*/

/*.sidebar {*/
/*  background-color: white;*/
/*}*/

.hwrapper {
  width: 100%;
}

.header {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.field {
  margin: 10px;
  padding: 10px;
}

li {
   list-style: none;
}