<!--<div><%#= flash[:notice] %></div>-->
<!--<h3>■グッズ情報一覧</h3>-->
<!--  <div>-->
<!--    <%#= link_to new_admin_good_path do %>-->
<!--      <button type="button">+</button>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>ID</th>-->
<!--        <th>グッズ名</th>-->
<!--        <th>投稿状況</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <%# @goods.each do |good| %>-->
<!--        <tr>-->
<!--          <td><%#= good.id %></td>-->
<!--          <td><%#= link_to good.name, admin_good_path(good) %></td>-->
<!--          <td><%# if good.post_status %>-->
<!--                投稿中-->
<!--              <%# else %>-->
<!--                投稿完了-->
<!--              <%# end %>-->
<!--          </td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  </table>-->
<!--<%#= paginate @goods %>-->